* {
    box-sizing: border-box;
    /*border: 0.5px solid black;*/
}

body {
    font-family: 'Maven Pro', sans-serif;
    overflow: hidden;
}



/*HEADER*/

.header {
    width: 100vw;
    height: 60vh;
    background-color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.wrap {
    /*background: linear-gradient(to bottom right, #FFD200, #F7971E);*/
    background: #7FE6D6;
    width: 100vw;
    height: 100vh;
}


h1 {
    margin-top: 10px;
    font-weight: 700;
    font-size: 100px;
    color: white;
    text-align: center;
    text-shadow: 0px 5px 15px rgba(0, 0, 0, 0.40);
    animation: txt-fade 2.0s forwards;
}


.under-title {
    font-weight: 500;
    transform: translateY(-60px);
    color: white;
    font-size: 30px;
    text-shadow: 0px 5px 15px rgba(0, 0, 0, 0.18);
    opacity: 0;
    animation: txt-fade2 2.0s forwards;
    animation-delay: 1.0s;
}


#screens {
    height: 400px;
    width: auto;
    margin: 0 auto;
    transform: translateY(-30px);
}

.animation_screen {
    animation: fade-in 2.0s forwards;
    
}

/*ANIMATION HEADER*/

@keyframes txt-fade{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes txt-fade2{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fade-in{
    0% {transform: translateY(100px);
    opacity: 0;}
    50% {opacity: 1;}
    100% {transform: translateY(-60px);
    opacity: 1;}
}


/*CLASSES USED FOR FLEX, SIZE AND HIGHT*/

.contwrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 40vh;
    width: 80vw;
    text-align: center;
}

.content {
    width: 50%;
    height: 500px;
    
    animation: fade-up 2.0s forwards;
}

@keyframes fade-up {
    0%{transform: translateY(40px);
        opacity: 0;}
    100%{transform: translateY(0px);
        opacity: 1;}
}

.content2 {
    width: 50%;
    height: 500px;
}

.dark {
    background-color: #02AAB0;
}

h2 {
    color: white;
    font-size: 40px;
    padding-top: 80px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.18);
}

p {
    padding-left: 100px;
    padding-right: 100px;
    color: #fafafa;
    font-size: 20px;
}

#screens1{
    width: 400px;
    height: auto;
}
#screens2{
    width: 400px;
    height: auto;
}


/*DOWNLOAD SECTION*/

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height:auto;
    width: 80vw;
}


.btn {
    border-top: 1px solid white;
    margin-top: -100px;
    font-weight: 500;
    text-align: center;
    font-size: 25px;
    padding-top: 20px;
    color: white;
    
    cursor: pointer;
    
}

a:hover {
    color: #FFD200;
}

a {
    text-decoration: none;
}


/*RESPONSIV*/

@media screen and (max-width: 900px) {
    body{
        overflow: visible;
    }
    
    h1 {
        margin-top: 2px;
        font-size: 60px;
    }
    .under-title {
        margin-top: 100px;
        font-size: 20px;
    }
    .content {
        width: 100vw;
        height: 250px;
    }
    .contwrap {
        width: 100vw;
        height: auto;
        flex-direction: column;
    }
    .wrapper1 {
        width: 100vw;
    }
   
    #screens {
        margin-top: 10px;
        height: 230px;
    }
    .btn {
        margin-top: 10px;
        margin-left: 0px;
        width: 200px;
    }
    .btn1 {
        display: none;
    }
    
    h2 {
    color: white;
    font-size: 30px;
    padding-top: 10px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.18);
}

p {
    padding: 10px;
    color: #fafafa;
    font-size: 18px;
}
   
   
}
